/*
* @Author: Administrator
* @Date:   2018-01-03 10:17:12
* @Last Modified by:   Administrator
* @Last Modified time: 2018-01-11 17:40:43
*/
@import url("base.css");
@font-face {
  font-family: 'iconfont';  /* project id 524942 */
  src: url('https://at.alicdn.com/t/font_524942_a36ijtwu58rxjemi.eot');
  src: url('https://at.alicdn.com/t/font_524942_a36ijtwu58rxjemi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_524942_a36ijtwu58rxjemi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_524942_a36ijtwu58rxjemi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_524942_a36ijtwu58rxjemi.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont';
}
i{
	font-style: normal;
}
body{
	height: auto;
}
/* 顶部 */
.top{
	width: 100%;
	height: 0.88rem;
	background: red;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
/* 	position: relative; */

}
.top_left{
	width: 1.22rem;
	height: 100%;
	/* background: yellow; */
	float: left;
}
.top_left i{
	font-size: 0.34rem;
	color: #fff;
	text-align: center;
	line-height: 0.88rem;
	margin-left: 0.4rem;
}
.top_zhong{
	display: block;
	width: 4rem;
	height: 0.66rem;
	background: #fee9e9;
	border-radius: 0.02rem;
	margin: 0.11rem auto;
}
.top_zhong p{
	font-size: 0.26rem;
	color: #c7988d;
	float: left;
	margin: 0.15rem;
}
.top_zhong i{
	font-size: 0.32rem;
	color: #c7988d;
	float: right;
	text-align: center;
	margin: 0.2rem 0.25rem;

}
.top_right{
	display: block;
	font-size: 0.21rem;
	color: #fff;
	text-align: center;
	line-height: 0.88rem;
	width: 1rem;
	height: 0.88rem;
/* 	background: skyblue; */
	position: absolute;
	top: 0;
	right: 0;
}
/* banner */
.banner{
	width: 100%;
	height: 2.23rem;
	margin-top: 0.88rem;
}


.banner1 {
	width: 100%;
	height: 2.23rem;
    position: relative;
}
.banner1 li{
	position: absolute;
	top: 0;
	left: 0;
}
.banner1 li a{
	display: block;
	width: 100%;
	height: 2.23rem;
}
.banner1 li a img{
	width: 100%;
	height: 100%;
}
/* banner */

/* 顶部 */
.nav{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.nav li {
	width: 20%;
	height: 0 auto;
	float: left;
}
.nav li a{
	display: block;
	width: 100%;
	height: 100%;
}
.nav li a img{
	display: block;
	width: 0.72rem;
	height: 0.72rem;
	margin: 0.08rem auto;
}
.nav li a  h2{
	font-size: 0.22rem;
	color: #051b28;
	text-align: center;
	/* 文字加粗 */
	font-weight: normal;
	margin-top: 0.1rem;
}
/* 必抢 */
.bq{
	width: 100%;
	height: 5.7rem;
	margin-top: 0.1rem;
}
.bq_top{
	width: 100%;
	height: 0.61rem;
	background: #f5f5f5;
	text-align: center;
	line-height: 0.61rem;
	font-size: 0.26rem;
	color: #ff2e2e;
}
.bq_top i{
	font-size: 0.3rem;
	color: #ff2e2e;
}
.bq_bottom{
	width: 100%;
	height: 5.09rem;
}
.bq_bottom1{
	width: 100%;
	height: 2.54rem;
	/* background: red; */
	border-bottom: 0.01rem solid #f5f5f5;
}
.bq_bottom2{
	width: calc(100% / 4);
	height: 2.54rem;
	background: #fff;
	float: left;
	text-align: center;
}
.bq_bottom2:last-child{
	width: 1.58rem;
	border-left: 0.01rem solid #f5f5f5;
}
.bq_bottom2 a {
	display: block;
    width: 1.3rem;
    height: 1.32rem;
    background: black;
    margin: 0.6rem 0.14rem 0 0.14rem;
}
.bq_bottom2 a img{
	width: 100%;
	height: 100%;
}
.bq_bottom2 p{
	font-size: 0.23rem;
	color: #2f2f2f;
	margin-top: 0.05rem;
}
.bq_bottom2 i{
	font-size: 0.17rem;
	color: #ff2e2e;
}
.bq_bottom2 s{
	font-size: 0.17rem;
	color: #9b9b9b;
}
.bq_bottom3{
	width: 100%;
	height: 2.55rem;
}
.bq_bottom4{
	width: calc(100% / 4);
	height: 2.55rem;
	background: #fff;
	float: left;
	text-align: center;
}
.bq_bottom4:last-child{
	width: 1.58rem;
	border-left: 0.01rem solid #f5f5f5;
}
.bq_bottom4 a {
	display: block;
    width: 1.3rem;
    height: 1.32rem;
    background: black;
    margin: 0.6rem 0.14rem 0 0.14rem;
}
.bq_bottom4 a img{
	width: 100%;
	height: 100%;
}
.bq_bottom4 p{
	font-size: 0.23rem;
	color: #2f2f2f;
	margin-top: 0.05rem;
}
.bq_bottom4 i{
	font-size: 0.17rem;
	color: #ff2e2e;
}
.bq_bottom4 s{
	font-size: 0.17rem;
	color: #9b9b9b;
}
/* 必抢 */
/* 潮流酷玩 */
.cl{
   width: 100%;
   height: 3.22rem;
/*    background: orangered; */
   margin-top: 0.1rem;
}
.cl_top{
	height: 100%;
	height: 0.62rem;
	background: #f5f5f5;
	text-align: center;
	line-height: 0.62rem;
	font-size: 0.25rem;
	color: #4a84e2;
}
.cl_top i{
	font-size: 0.3rem;
	color: #4a84e2;
}
.cl_bottm{
	width: 100%;
	height: 2.6rem;
/* 	background: yellow; */
}
.cl_bottm ul li a {
    width: calc(100% / 3);
    height: auto;
    float: left;
}
.cl_bottm ul li a img{
	width: 100%;
	height: 100%;
}
/* 潮流酷玩 */
/* 品牌特卖 */
.pp{
	width: 100%;
	height: 2.49rem;
/* 	background: red; */
	margin-top: 0.1rem;
}
.pp_top{
	width: 100%;
	height: 0.61rem;
	background: #f5f5f5;
	text-align: center;
	line-height: 0.62rem;
	font-size: 0.26rem;
	color: #ff6700;
}
.pp_top i{
	font-size: 0.3rem;
	color: #fecb8a;
}
.pp_bottom{
	width: 100%;
	height: 1.88rem;
	/* background: green; */
}
.pp_bottom ul li{
	width: 50%;
	height: 1.88rem;
	float: left;
/* 	background: red; */
	box-sizing: border-box;
}
.pp_bottom ul li a img{
	width: 100%;
	height: 100%;
}
.pp_bottom ul li :first-child{
	border-right: 0.02rem solid #f0f0f0;
	box-sizing: border-box;
}
/* 品牌特卖 */
/* 猜你喜欢 */
.cnxh{
	width: 100%;
	height: 5.42rem;
	margin-top: 0.1rem;
}
.cnxh_top{
	width: 100%;
	height: 0.87rem;
	background: #f0f0f0;
	text-align: center;
	line-height: 0.87rem;
	font-size: 0.26rem;
	color: #999;
}
.cnxh_bottom{
	width: 100%;
	height: 4.55rem;
}
.cnxh_bottom00{
	width: 50%;
	height: auto;
	background: #fff;
	float: left;
	box-sizing: border-box;
}
.cnxh_bottom00:first-child{
	border-right: 0.06rem solid #fff;
}
.cnxh_bottom00 a {
	display: block;
	width: 3.18rem;
	height: 3.17rem;
}
.cnxh_bottom00 a img{
	width: 100%;
	height: 100%;

}
.p1{
	font-size: 0.29rem;
	color: #666;
}
.p2{
	font-size: 0.23rem;
	color: #dd2727;
}
/* 猜你喜欢 */
/* 底部 */
.db{
	width: 100%;
	height: 2.66rem;
	background: yellow;
	margin-top: 0.2rem;
}
.db_top{
	width: 100%;
	height: 0.6rem;
	background: #eee;
}
.db_top1{
	width: 0.6rem;
	height: 0.42rem;
	background: #eee;
	margin: 0 auto;
}
.db_top1 img{
	width: 100%;
	height: 100%;
}
.db_zhong{
	width: 100%;
	height: 0.04rem;
	background: #000;
}
.db_bottom{
	width: 100%;
	height: 2.02rem;
	background: #fff;
}
.db_bottom1{
	width: 100%;
	height: 1.12rem;
	background: #fff;
}
.db_bottom1 li{
	font-size: 0.21rem;
	color: #999;
	text-align: center;
	line-height: 1.12rem;
}
.db_bottom2 p{
     font-size: 0.19rem;
     color: #cccccc;
     text-align: center;
     margin-top: 0.2rem;
}
/* 底部 */